.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/images/ogbg50.png");
    background-size: cover;
    margin: 50px;
    padding-bottom: 200px;
    animation: fade 1s forwards;
}
.row {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    animation: lateFade 1s forwards;
}
.left {
    width: 200px;
}
.right {
    width: 35%;
    text-align: left;
}
.container p {
    font-size: 16pt;
    font-weight: 400;
}

.box1 {
    width: 10px;
    height: 10px;
    background-color: black;
    margin-bottom: -100px;
}
.box2 {
    width: 10px;
    height: 10px;
    background-color: black;
    margin-bottom: -100px;
    opacity: 0.75;
}
.box3 {
    width: 10px;
    height: 10px;
    background-color: black;
    margin-bottom: -100px;
    opacity: 0.5;
}
.box4 {
    width: 10px;
    height: 10px;
    background-color: black;
    margin-bottom: -100px;
    opacity: 0.3;
}
.deco {
    display: grid;
    grid-column-gap: 7px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 15px);
}
.decoBox {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 30px;
    margin-left: 18px;
}
.container h1 {
    font-size: 35pt;
}
.container h2 {
    text-align: left;
    font-size: 25pt;
    margin-left: 78px;
}
.heading {
    animation: lateFade 1s forwards;
    width: 50%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes lateFade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1250px) {
    .container {
        padding-bottom: 100px;
    }
    .container h2 {
        text-align: center;
        margin: 0;
    }
    .right {
        width: 75%;
        text-align: center;
    }
    .row {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .left {
        width: 100%;
    }
    .heading {
        width: 100%;
    }
    .decoBox {
        display: none;
    }
}

@media (max-width: 600px) {
    .container {
        padding-bottom: 50px;
    }
    .container h1 {
        font-size: 25pt;
    }
    .container h2 {
        font-size: 20pt;
    }
    .container p {
        font-size: 13pt;
    }
    .right {
        width: 80%;
        text-align: center;
    }
}
@media (max-width: 450px) {
    .container {
        margin: 0;
    }
    .right {
        width: 90%;
        text-align: center;
    }
    .container p {
        font-size: 12pt;
    }
}