.container {
    width:100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/bg30.png");
    background-position: left 0 top -700px;
}

.btn {
    border-radius: 15px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    height: 80px;
    font-family: "Jura";
    font-size: 20pt;
    font-weight: 900;
    padding: 20px;
    animation: empty 0.2s forwards;
}
.btn:hover {
    cursor: pointer;
    animation: fill 0.2s forwards;

}

@keyframes fill {
    to {
        background-color: black;
        color: white;
    }
}
@keyframes empty {
    0% {
        background-color: black;
        color: white;
    }
    100% {
        background-color: transparent;
        color: black;
    }
}

@media (max-width: 600px) {
    .btn {
        height: 70px;
        font-size: 14pt;
    }
    .container {
        height: 100px;
    }
}
@media (max-width: 450px) {
    .btn {
        height: 50px;
        font-size: 12pt;
        padding: 10px;
    }
    .container {
        height: 75px;
    }
}