.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75%;
    border: 15px outset;
    border-radius: 15px;
    background-color: rgb(201, 201, 201);
}
.caroConsole {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main {
    position: relative;
    display: block;
    max-height: 600px;
    overflow: hidden;
    margin: 20px;
    filter: drop-shadow(10px 10px 4px #808080)
}
.fullSize {
    position: relative;
    max-height: auto;
    margin: 20px;
    filter: drop-shadow(10px 10px 4px #808080)
}
.active {
    opacity: 1;
}
.inactive {
    opacity: 0.5;
}
.expandBtn {
    filter:brightness(30);
    content: url("../assets/images/expand.png");
    position: absolute;
    z-index: 999999;
    width: 75px;
    right: 0;
}
.expandBtn:hover {
    cursor: pointer;
}
.closeBtn {
    content: url("../assets/images/close.png");
    filter:brightness(30);
    position: absolute;
    z-index: 999999;
    width: 75px;
    right: 0;
}
.closeBtn:hover {
    cursor: pointer;
}
.leftBtn {
    width: 50px;
    height: 50px;
    border-left: 10px ridge;
    border-bottom: 10px ridge;
    transform: rotate(45deg);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.leftBtn:hover {
    border-left: 10px inset;
    border-bottom: 10px inset;
    cursor: pointer;
}
.rightBtn {
    width: 50px;
    height: 50px;
    border-right: 10px ridge;
    border-bottom: 10px ridge;
    transform: rotate(-45deg);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.rightBtn:hover {
    border-right: 10px inset;
    border-bottom: 10px inset;
    cursor: pointer;
}
