.container {
    padding: 10px;
    margin: 40px;
    padding: 50px;
    background-image: url("../assets/images/mask.png");
    background-size: cover;
    text-align: center;
    animation: lateFade 1.75s forwards;
}
.container p {
    width: 35%;
    margin: auto;
    font-size: 16pt;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 25px;
}
.container h1 {
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
    font-size: 50pt;
}

@keyframes lateFade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1250px) {
    .container p {
        width: 75%;
    }
    .container h {
        width: 95%;
    }
}
@media (max-width: 600px) {
    .container {
        padding: 5%;
        padding-bottom: 40px;
    }
    .container p {
        width: 80%;
        font-size: 13pt;
    }
    .container h1 {
        padding-top: 40px;
        width: 90%;
        font-size: 30pt;
    }
}
@media (max-width: 450px) {
    .container {
        margin: 0;
    }
    .container h1 {
        font-size: 18pt;
    }
    .container p {
        font-size: 12pt;
        width: 100%;
    }
}