.container1 {
    padding: 10px;
    margin: 40px;
    background-image: url("../assets/images/bg30.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    animation: fade 1s forwards;
}
.content1 {
    width: 60%;
    margin: auto;
    animation: lateFade 1s forwards;
}
.content2 {
    width: 50%;
    text-align: center;
    margin: auto;
    animation: lateFade 1s forwards;
}
.container2 {
    padding: 10px;
    margin: 40px;
    background-image: url("../assets/images/bg30flip.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    animation: fade 1s forwards;
}
.header {
    font-size: 35pt;
    text-align: center;
    animation: fade 1s forwards;
}
.container1 p {
    font-size: 15pt;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 50px;
}
.container1 li {
    font-size: 18pt;
    font-weight: 300;
    font-family: "Jura", sans-serif;
}
.container1 ul {
    list-style: none;
    margin-top: -25px;
    margin-bottom: 50px;
}

.container1 ul li:before { 
    content:"•"; 
    font-size:20pt; 
    margin-right: 10px;
}
.container2 p {
    font-size: 15pt;
    font-weight: 300;
    margin-bottom: 50px;;
}
.container1 h2 {
    font-size: 25pt;
}
.container2 h2 {
    font-size: 25pt;
}
.container2 h1 {
    font-size: 30pt;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes lateFade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 775px) {
    .container1 {
        padding: 10px;
        margin: 40px;
        background-image: url("../assets/images/bg30.png");
        background-size: cover;
        display: flex;
        flex-direction: column;
    }
    .content1 {
        width: 75%;
        text-align: center;
        margin: auto;
    }
    .content1 h2 {
        font-size: 20pt;
    }
    .content2 h2 {
        font-size: 20pt;
    }
    .container1 ul li:before { 
        content:""; 
        margin: 0;
        text-align: center;
    }
    .container1 ul {
        padding: 0;
    }
    .content2 {
        width: 75%;
    }
    .container2 {
        padding: 10px;
    }
}

@media (max-width: 450px) {
    .container1 {
        margin: 0;
    }
    .container2 {
        margin: 0;
    }
    .content1 {
        width: 90%;
    }
    .content2 {
        width: 90%;
    }
}