html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.swiper-button-next {
  filter: grayscale(100%);
}
.swiper-button-prev {
  filter: grayscale(100%);
}
@media screen and (min-width: 1280px) {
  .swiper-button-next {
    right: 5% !important;
  }
  .swiper-button-prev {
    left: 5% !important;
  }
}