.container {
  min-height: 100vh;
}

.teamImg {
  margin: auto;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .teamImg {
    margin: 0;
  }
}