.nav {
    margin-top: 50px;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Jura', sans-serif;
    margin-bottom: 75px;

}
.openNav {
    margin-top: 50px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Jura', sans-serif;
    text-align: center;
    margin-bottom: 20px;

}
.nav h3 {
    font-weight: 600;
    font-size: 15pt;
}
.bannerContainer {
    position: relative;
    margin-left: 5%;
    width: 45%;
    height: 7rem;
}
.banner:hover {
    cursor: pointer;
}
.nav ul {
    width: 45%;
    margin-right: 5%;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 35px;
    word-break: normal;
    white-space: normal;
}
.nav li {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -10px;
    margin-bottom: -10px;
}
.nav li:hover {
    cursor: pointer;
}
.nav p {
    white-space: nowrap;
}
.active {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.menu {
    display: none;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.open {
    display: block;
}

.closed {
    display: none;
}

.bannerOpen {
    position: relative;
    width: 100%;
    height: 7rem;
}

@keyframes fill {
    to {
        background-color: black;
        color: white;
    }
}
@keyframes empty {
    0% {
        background-color: black;
        color: white;
    }
    100% {
        background-color: transparent;
        color: black;
    }
}

@media (max-width: 1250px) {
    .nav h3 {
        font-size: 12pt !important;
    }
    .nav li {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (max-width: 1000px) {
    .nav ul {
        display: none;
    }
    .openNav ul {
        display: none;
    }
    .bannerContainer {
        width: 70%;
    }
    .openNav h3 {
        font-size: 18pt;
    }

    .menu {
        display: block;
        border: 2px solid black;
        border-radius: 4px;
        padding: 5px;
        margin: auto;
        animation: empty 0.3s forwards;
    }

    .menu:hover {
        animation: fill 0.3s forwards;
        cursor: pointer;
    }
}
@media (max-width: 600px) {
    .menu {
        font-size: 12pt;
    }
    .nav {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .openNav h3 {
        font-size: 15pt;
    }
}
@media (max-width: 450px) {
    .nav {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}