.container {
    margin: 50px;
    font-family: "Jura", sans-serif;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 50px;
    margin: auto;
    text-align: center;
    animation: fade 1s forwards;
}
.gridItem1 {
    width: 100%;
    height: fit-content;
    opacity: 0;
    animation: lateFade 1s forwards;
}
.gridItem2 {
    width: 100%;
    height: fit-content;
    opacity: 0;
    animation: lateFade 1s forwards;
    animation-delay: 0.1s;
}
.gridItem3 {
    width: 100%;
    height: fit-content;
    opacity: 0;
    animation: lateFade 1s forwards;
    animation-delay: 0.2s;
}
.gridItem4 {
    width: 100%;
    height: fit-content;
    opacity: 0;
    animation: lateFade 1s forwards;
    animation-delay: 0.3s;
}
.gridItem5 {
    width: 100%;
    height: fit-content;
    opacity: 0;
    animation: lateFade 1s forwards;
    animation-delay: 0.4s;
}
.gridItem6 {
    width: 100%;
    height: fit-content;
    opacity: 0;
    animation: lateFade 1s forwards;
    animation-delay: 0.5s;
}
.gridItem7 {
    width: 100%;
    height: fit-content;
    opacity: 0;
    animation: lateFade 1s forwards;
    animation-delay: 0.6s;
}
.gridItem8 {
    width: 100%;
    height: fit-content;
    opacity: 0;
    animation: lateFade 1s forwards;
    animation-delay: 0.7s;
}
.gridItem9 {
    width: 100%;
    height: fit-content;
    opacity: 0;
    animation: lateFade 1s forwards;
    animation-delay: 0.8s;
}

.imgContainer {
    position: relative;
    width: 100%;
    height: 300px;
    filter: drop-shadow(10px 10px 4px #808080)
}
.container a h1 {
    border: 1px solid black;
    animation: empty 0.3s forwards;
}
.container a h1:hover {
    animation: fill 0.3s forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes lateFade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fill {
    to {
        background-color: black;
        color: white;
    }
}
@keyframes empty {
    0% {
        background-color: black;
        color: white;
    }
    100% {
        background-color: transparent;
        color: black;
    }
}
@media (max-width: 1400px) {
    .container h1 {
        font-size: 21pt;
    }
}
@media (max-width: 1250px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .container h1 {
        font-size: 25pt;
    }
    .container {
        margin: 10px;
    }
}
@media (max-width: 950px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .container {
        margin: 10%;
    }
}
@media (max-width: 600px) {
    .container {
        margin: 0%;
    }
    .grid {
        gap: 20px;
    }
}
@media (max-width: 450px) {
    .grid {
        width: 90%
    }
}